@use "sass:map";

@use "../../tokens" as __;
@use "reset";

// --- Default FAB properties ---

$container-color: var(--lpxt-sys-primary-container, #{map.get(__.$clr-primary, 90)}) !default;
$container-shape: var(--lpxt-sys-shape-corner-large, #{__.$shape-corner-large}) !default;
$container-min-width: 80px;
$container-height: 56px;
$container-elevation: var(--lpxt-sys-elevation-level-3, #{__.$elevation-level-3}) !default;
$container-lowered-elevation: var(lpxt-sys-elevation-1, #{__.$elevation-level-1}) !default;
$container-shadow: var(--lpxt-sys-shadow, #{map.get(__.$clr-neutral, 10)}) !default;

$icon-size: 24px;
$icon-color: var(--lpxt-sys-on-primary-container, #{map.get(__.$clr-primary, 10)}) !default;


$hovered-container-elevation: var(--lpxt-sys-elevation-level-4, #{__.$elevation-level-4}) !default;
$hovered-container-lowered-elevation: var(lpxt-sys-elevation-2, #{__.$elevation-level-2}) !default;

$hovered-container-state-color: var(--lpxt-sys-on-primary-container, #{map.get(__.$clr-primary, 10)}) !default;
$hovered-container-state-opacity: var(--lpxt-sys-state-hover-state-layer-opacity, #{__.$state-hover-state-layer-opacity}) !default;

$hovered-icon-color: var(--lpxt-sys-on-primary-container, #{map.get(__.$clr-primary, 10)}) !default;


$focused-container-elevation: var(--lpxt-sys-elevation-level-3, #{__.$elevation-level-3}) !default;
$focused-container-lowered-elevation: var(lpxt-sys-elevation-1, #{__.$elevation-level-1}) !default;

$focused-container-state-color: var(--lpxt-sys-on-primary-container, #{map.get(__.$clr-primary, 10)}) !default;
$focused-container-state-opacity: var(--lpxt-sys-state-focus-state-layer-opacity, #{__.$state-focus-state-layer-opacity}) !default;

$focused-icon-color: var(--lpxt-sys-on-primary-container, #{map.get(__.$clr-primary, 10)}) !default;


$pressed-container-elevation: var(--lpxt-sys-elevation-level-3, #{__.$elevation-level-3}) !default;
$pressed-container-lowered-elevation: var(lpxt-sys-elevation-1, #{__.$elevation-level-1}) !default;

$pressed-container-state-color: var(--lpxt-sys-on-primary-container, #{map.get(__.$clr-primary, 10)}) !default;
$pressed-container-state-opacity: var(--lpxt-sys-state-pressed-state-layer-opacity, #{__.$state-pressed-state-layer-opacity}) !default;

$pressed-icon-color: var(--lpxt-sys-on-primary-container, #{map.get(__.$clr-primary, 10)}) !default;


// --- Color variation properties ---

$surface-container-color: var(--lpxt-sys-surface-container, #{map.get(__.$clr-neutral, 94)}) !default;
$surface-icon-color: var(--lpxt-sys-primary, #{map.get(__.$clr-primary, 40)}) !default;
$surface-hovered-container-state-color: var(--lpxt-sys-primary, #{map.get(__.$clr-primary, 40)}) !default;
$surface-hovered-icon-color: var(--lpxt-sys-primary, #{map.get(__.$clr-primary, 40)}) !default;
$surface-focused-container-state-color: var(--lpxt-sys-primary, #{map.get(__.$clr-primary, 40)}) !default;
$surface-focused-icon-color: var(--lpxt-sys-primary, #{map.get(__.$clr-primary, 40)}) !default;
$surface-pressed-container-state-color: var(--lpxt-sys-primary, #{map.get(__.$clr-primary, 40)}) !default;
$surface-pressed-icon-color: var(--lpxt-sys-primary, #{map.get(__.$clr-primary, 40)}) !default;

$secondary-container-color: var(--lpxt-sys-secondary-container, #{map.get(__.$clr-secondary, 90)}) !default;
$secondary-icon-color: var(--lpxt-sys-on-secondary-container, #{map.get(__.$clr-secondary, 10)}) !default;
$secondary-hovered-container-state-color: var(--lpxt-sys-on-secondary-container, #{map.get(__.$clr-secondary, 10)}) !default;
$secondary-hovered-icon-color: var(--lpxt-sys-on-secondary-container, #{map.get(__.$clr-secondary, 10)}) !default;
$secondary-focused-container-state-color: var(--lpxt-sys-on-secondary-container, #{map.get(__.$clr-secondary, 10)}) !default;
$secondary-focused-icon-color: var(--lpxt-sys-on-secondary-container, #{map.get(__.$clr-secondary, 10)}) !default;
$secondary-pressed-container-state-color: var(--lpxt-sys-on-secondary-container, #{map.get(__.$clr-secondary, 10)}) !default;
$secondary-pressed-icon-color: var(--lpxt-sys-on-secondary-container, #{map.get(__.$clr-secondary, 10)}) !default;

$tertiary-container-color: var(--lpxt-sys-tertiary-container, #{map.get(__.$clr-tertiary, 90)}) !default;
$tertiary-icon-color: var(--lpxt-sys-on-tertiary-container, #{map.get(__.$clr-tertiary, 10)}) !default;
$tertiary-hovered-container-state-color: var(--lpxt-sys-on-tertiary-container, #{map.get(__.$clr-tertiary, 10)}) !default;
$tertiary-hovered-icon-color: var(--lpxt-sys-on-tertiary-container, #{map.get(__.$clr-tertiary, 10)}) !default;
$tertiary-focused-container-state-color: var(--lpxt-sys-on-tertiary-container, #{map.get(__.$clr-tertiary, 10)}) !default;
$tertiary-focused-icon-color: var(--lpxt-sys-on-tertiary-container, #{map.get(__.$clr-tertiary, 10)}) !default;
$tertiary-pressed-container-state-color: var(--lpxt-sys-on-tertiary-container, #{map.get(__.$clr-tertiary, 10)}) !default;
$tertiary-pressed-icon-color: var(--lpxt-sys-on-tertiary-container, #{map.get(__.$clr-tertiary, 10)}) !default;


// --- Mixins FAB ---

@mixin configure-fab-color(
  $_container-color,
  $_icon-color,
  $_hovered-container-state-color,
  $_hovered-icon-color,
  $_focused-container-state-color,
  $_focused-icon-color,
  $_pressed-container-state-color,
  $_pressed-icon-color,
) {
  $container-color: $_container-color !global;
  $icon-color: $_icon-color !global;
  $hovered-container-state-color: $_hovered-container-state-color !global;
  $hovered-icon-color: $_hovered-icon-color !global;
  $focused-container-state-color: $_focused-container-state-color !global;
  $focused-icon-color: $_focused-icon-color !global;
  $pressed-container-state-color: $_pressed-container-state-color !global;
  $pressed-icon-color: $_pressed-icon-color !global;
}

@mixin fab() {
  @include reset.reset-button;

  position: relative;
  overflow: hidden;

  background-color: hsl($container-color);
  border-radius: $container-shape;
  min-width: $container-min-width;
  height: $container-height;
  z-index: $container-elevation;
  box-shadow: hsl($container-shadow);

  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .button-icon {
    width: $icon-size;
    aspect-ratio: 1;
    color: hsl($icon-color);
  }
}

@mixin hovered-fab() {
  z-index: $hovered-container-elevation;

  &::before {
    background-color: hsl($hovered-container-state-color);
    opacity: $hovered-container-state-opacity;
  }

  .button-icon {
    color: hsl($hovered-icon-color);
  }
}

@mixin focused-fab() {
  z-index: $focused-container-elevation;

  &::before {
    background-color: hsl($focused-container-state-color);
    opacity: $focused-container-state-opacity;
  }

  .button-icon {
    color: hsl($focused-icon-color);
  }
}

@mixin pressed-fab() {
  z-index: $pressed-container-elevation;

  &::before {
    background-color: hsl($pressed-container-state-color);
    opacity: $pressed-container-state-opacity;
  }

  .button-icon {
    color: hsl($pressed-icon-color);
  }
}


// --- CSS styles ---

.extended-fab {
  @include fab();
}

.extended-fab:hover {
  @include hovered-fab();
}

.extended-fab:focus {
  @include focused-fab();
}

.extended-fab:active {
  @include pressed-fab();
}


.extended-fab[lpxt-style=surface] {
  @include configure-fab-color(
                  $surface-container-color,
                  $surface-icon-color,
                  $surface-hovered-container-state-color,
                  $surface-hovered-icon-color,
                  $surface-focused-container-state-color,
                  $surface-focused-icon-color,
                  $surface-pressed-container-state-color,
                  $surface-pressed-icon-color
  );
  @include fab();
}

.extended-fab[lpxt-style=surface]:hover {
  @include configure-fab-color(
                  $surface-container-color,
                  $surface-icon-color,
                  $surface-hovered-container-state-color,
                  $surface-hovered-icon-color,
                  $surface-focused-container-state-color,
                  $surface-focused-icon-color,
                  $surface-pressed-container-state-color,
                  $surface-pressed-icon-color
  );
  @include hovered-fab();
}

.extended-fab[lpxt-style=surface]:focus {
  @include configure-fab-color(
                  $surface-container-color,
                  $surface-icon-color,
                  $surface-hovered-container-state-color,
                  $surface-hovered-icon-color,
                  $surface-focused-container-state-color,
                  $surface-focused-icon-color,
                  $surface-pressed-container-state-color,
                  $surface-pressed-icon-color
  );
  @include focused-fab();
}

.extended-fab[lpxt-style=surface]:active {
  @include configure-fab-color(
                  $surface-container-color,
                  $surface-icon-color,
                  $surface-hovered-container-state-color,
                  $surface-hovered-icon-color,
                  $surface-focused-container-state-color,
                  $surface-focused-icon-color,
                  $surface-pressed-container-state-color,
                  $surface-pressed-icon-color
  );
  @include pressed-fab();
}


.extended-fab[lpxt-style=secondary] {
  @include configure-fab-color(
                  $secondary-container-color,
                  $secondary-icon-color,
                  $secondary-hovered-container-state-color,
                  $secondary-hovered-icon-color,
                  $secondary-focused-container-state-color,
                  $secondary-focused-icon-color,
                  $secondary-pressed-container-state-color,
                  $secondary-pressed-icon-color
  );
  @include fab();
}

.extended-fab[lpxt-style=secondary]:hover {
  @include configure-fab-color(
                  $secondary-container-color,
                  $secondary-icon-color,
                  $secondary-hovered-container-state-color,
                  $secondary-hovered-icon-color,
                  $secondary-focused-container-state-color,
                  $secondary-focused-icon-color,
                  $secondary-pressed-container-state-color,
                  $secondary-pressed-icon-color
  );
  @include hovered-fab();
}

.extended-fab[lpxt-style=secondary]:focus {
  @include configure-fab-color(
                  $secondary-container-color,
                  $secondary-icon-color,
                  $secondary-hovered-container-state-color,
                  $secondary-hovered-icon-color,
                  $secondary-focused-container-state-color,
                  $secondary-focused-icon-color,
                  $secondary-pressed-container-state-color,
                  $secondary-pressed-icon-color
  );
  @include focused-fab();
}

.extended-fab[lpxt-style=secondary]:active {
  @include configure-fab-color(
                  $secondary-container-color,
                  $secondary-icon-color,
                  $secondary-hovered-container-state-color,
                  $secondary-hovered-icon-color,
                  $secondary-focused-container-state-color,
                  $secondary-focused-icon-color,
                  $secondary-pressed-container-state-color,
                  $secondary-pressed-icon-color
  );
  @include pressed-fab();
}


.extended-fab[lpxt-style=tertiary] {
  @include configure-fab-color(
                  $tertiary-container-color,
                  $tertiary-icon-color,
                  $tertiary-hovered-container-state-color,
                  $tertiary-hovered-icon-color,
                  $tertiary-focused-container-state-color,
                  $tertiary-focused-icon-color,
                  $tertiary-pressed-container-state-color,
                  $tertiary-pressed-icon-color
  );
  @include fab();
}

.extended-fab[lpxt-style=tertiary]:hover {
  @include configure-fab-color(
                  $tertiary-container-color,
                  $tertiary-icon-color,
                  $tertiary-hovered-container-state-color,
                  $tertiary-hovered-icon-color,
                  $tertiary-focused-container-state-color,
                  $tertiary-focused-icon-color,
                  $tertiary-pressed-container-state-color,
                  $tertiary-pressed-icon-color
  );
  @include hovered-fab();
}

.extended-fab[lpxt-style=tertiary]:focus {
  @include configure-fab-color(
                  $tertiary-container-color,
                  $tertiary-icon-color,
                  $tertiary-hovered-container-state-color,
                  $tertiary-hovered-icon-color,
                  $tertiary-focused-container-state-color,
                  $tertiary-focused-icon-color,
                  $tertiary-pressed-container-state-color,
                  $tertiary-pressed-icon-color
  );
  @include focused-fab();
}

.extended-fab[lpxt-style=tertiary]:active {
  @include configure-fab-color(
                  $tertiary-container-color,
                  $tertiary-icon-color,
                  $tertiary-hovered-container-state-color,
                  $tertiary-hovered-icon-color,
                  $tertiary-focused-container-state-color,
                  $tertiary-focused-icon-color,
                  $tertiary-pressed-container-state-color,
                  $tertiary-pressed-icon-color
  );
  @include pressed-fab();
}
