@use "sass:map";

@use "../../tokens" as __;
@use "reset";

$container-width: 40px !default;
$container-height: 40px !default;
$container-shape: var(--lpxt-sys-shape-corner-full, #{__.$shape-corner-full}) !default;
$container-color: null !default;
$container-unselected-color: null !default;
$container-selected-color: null !default;

$icon-size: 24px !default;
$icon-color: var(--lpxt-sys-color-on-surface-variant, #{map.get(__.$clr-neutral-variant, 30)}) !default;
$icon-unselected-color: var(--lpxt-sys-color-on-surface-variant, #{map.get(__.$clr-neutral-variant, 30)}) !default;
$icon-selected-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)}) !default;


$disabled-container-color: null !default;
$disabled-container-opacity: 0.12 !default;

$disabled-icon-color: var(--lpxt-sys-color-on-surface, #{map.get(__.$clr-neutral, 10)}) !default;
$disabled-icon-opacity: 0.38 !default;


$hovered-state-layer-color: var(--lpxt-sys-color-on-surface-variant, #{map.get(__.$clr-neutral-variant, 30)}) !default;
$hovered-state-layer-opacity: var(--lpxt-sys-state-hover-state-layer-opacity, #{__.$state-hover-state-layer-opacity}) !default;
$hovered-state-layer-unselected-color: var(--lpxt-sys-color-on-surface-variant, #{map.get(__.$clr-neutral-variant, 30)}) !default;
$hovered-state-layer-unselected-opacity: var(--lpxt-sys-state-hover-state-layer-opacity, #{__.$state-hover-state-layer-opacity}) !default;
$hovered-state-layer-selected-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)}) !default;
$hovered-state-layer-selected-opacity: var(--lpxt-sys-state-hover-state-layer-opacity, #{__.$state-hover-state-layer-opacity}) !default;

$hovered-icon-color: var(--lpxt-sys-color-on-surface-variant, #{map.get(__.$clr-neutral-variant, 30)}) !default;
$hovered-icon-unselected-color: var(--lpxt-sys-color-on-surface-variant, #{map.get(__.$clr-neutral-variant, 30)}) !default;
$hovered-icon-selected-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)}) !default;


$focused-state-layer-color: var(--lpxt-sys-color-on-surface-variant, #{map.get(__.$clr-neutral-variant, 30)}) !default;
$focused-state-layer-opacity: var(--lpxt-sys-state-focus-state-layer-opacity, #{__.$state-focus-state-layer-opacity}) !default;
$focused-state-layer-unselected-color: var(--lpxt-sys-color-on-surface-variant, #{map.get(__.$clr-neutral-variant, 30)}) !default;
$focused-state-layer-unselected-opacity: var(--lpxt-sys-state-focus-state-layer-opacity, #{__.$state-focus-state-layer-opacity}) !default;
$focused-state-layer-selected-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)}) !default;
$focused-state-layer-selected-opacity: var(--lpxt-sys-state-focus-state-layer-opacity, #{__.$state-focus-state-layer-opacity}) !default;

$focused-icon-color: var(--lpxt-sys-color-on-surface-variant, #{map.get(__.$clr-neutral-variant, 30)}) !default;
$focused-icon-unselected-color: var(--lpxt-sys-color-on-surface-variant, #{map.get(__.$clr-neutral-variant, 30)}) !default;
$focused-icon-selected-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)}) !default;


$pressed-state-layer-color: var(--lpxt-sys-color-on-surface-variant, #{map.get(__.$clr-neutral-variant, 30)}) !default;
$pressed-state-layer-opacity: var(--lpxt-sys-state-pressed-state-layer-opacity, #{__.$state-pressed-state-layer-opacity}) !default;
$pressed-state-layer-unselected-color: var(--lpxt-sys-color-on-surface-variant, #{map.get(__.$clr-neutral-variant, 30)}) !default;
$pressed-state-layer-unselected-opacity: var(--lpxt-sys-state-pressed-state-layer-opacity, #{__.$state-pressed-state-layer-opacity}) !default;
$pressed-state-layer-selected-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)}) !default;
$pressed-state-layer-selected-opacity: var(--lpxt-sys-state-pressed-state-layer-opacity, #{__.$state-pressed-state-layer-opacity}) !default;

$pressed-icon-color: var(--lpxt-sys-color-on-surface-variant, #{map.get(__.$clr-neutral-variant, 30)}) !default;
$pressed-icon-unselected-color: var(--lpxt-sys-color-on-surface-variant, #{map.get(__.$clr-neutral-variant, 30)}) !default;
$pressed-icon-selected-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)}) !default;

@mixin icon-buttons() {

  .icon-button {
    position: relative;
    overflow: hidden;

    width: $container-width;
    height: $container-height;
    border-radius: $container-shape;
    @if $container-color {
      background-color: hsl($container-color);
    } @else {
      background-color: transparent;
    }

    &::before {
      content: "";
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .button__icon {
      width: $icon-size;
      aspect-ratio: 1;
      color: hsl($icon-color);
    }
  }

  .icon-button[disabled] {
    @if $disabled-container-color {
      background-color: hsl($disabled-container-color / $disabled-container-opacity);
    } @else {
      background-color: transparent;
    }

    .button__icon {
      background-color: hsl($disabled-icon-color / $disabled-icon-opacity);
    }
  }

  .icon-button:not([disabled]):hover {
    &::before {
      background-color: hsl($hovered-state-layer-color / $hovered-state-layer-opacity);
    }

    .button__icon {
      background-color: hsl($hovered-icon-color);
    }
  }

  .icon-button:not([disabled]):focus {
    &::before {
      background-color: hsl($focused-state-layer-color / $focused-state-layer-opacity);
    }

    .button__icon {
      background-color: hsl($focused-icon-color);
    }
  }

  .icon-button:not([disabled]):active {
    &::before {
      background-color: hsl($pressed-state-layer-color / $pressed-state-layer-opacity);
    }

    .button__icon {
      background-color: hsl($pressed-icon-color);
    }
  }


}
