@use "sass:map";

@use "../../../tokens" as __;
@use "../reset";

$container-shape: var(--lpxt-sys-shape-corner-extra-large, #{__.$shape-corner-extra-large}) !default;
$container-height: 40px !default;
$container-elevation: var(--lpxt-sys-elevation-level-1, #{__.$elevation-level-1}) !default;
$container-shadow-color: var(--lpxt-sys-shadow, #{map.get(__.$clr-neutral, 0)}) !default;
$container-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)}) !default;
$outline-color: none !default;
$outline-width: 0 !default;

$label-font: var(--lpxt-sys-typescale-label-large-font, #{map.get(__.$typo-label-large, font-family)}) !default;
$label-line-height: var(--lpxt-sys-typescale-label-large-line-height, #{map.get(__.$typo-label-large, line-height)}) !default;
$label-size: var(--lpxt-sys-typescale-label-large-size, #{map.get(__.$typo-label-large, font-size)}) !default;
$label-weight: var(--lpxt-sys-typescale-label-large-weight, #{map.get(__.$typo-label-large, font-weight)}) !default;
$label-letter-spacing: var(--lpxt-sys-typescale-label-large-letter-spacing, #{map.get(__.$typo-label-large, letter-spacing)}) !default;
$label-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)}) !default;

$icon-size: 18px !default;
$icon-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)}) !default;


$disabled-container-color: var(--lpxt-sys-color-on-surface, #{map.get(__.$clr-neutral, 10)}) !default;
$disabled-container-opacity: 0.12 !default;
$disabled-container-elevation: var(--lpxt-sys-elevation-level-0, #{__.$elevation-level-0}) !default;
$disabled-outline-color: var(--lpxt-sys-color-on-surface, #{map.get(__.$clr-neutral, 10)}) !default;

$disabled-label-color: var(--lpxt-sys-color-on-surface, #{map.get(__.$clr-neutral, 10)}) !default;
$disabled-label-opacity: 0.38 !default;

$disabled-icon-color: var(--lpxt-sys-color-on-surface, #{map.get(__.$clr-neutral, 10)}) !default;
$disabled-icon-opacity: 0.38 !default;


$hovered-container-elevation: var(--lpxt-sys-elevation-level-1, #{__.$elevation-level-1}) !default;

$hovered-label-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)}) !default;

$hovered-state-layer-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)}) !default;
$hovered-state-layer: var(--lpxt-sys-state-hover-state-layer-opacity, #{__.$state-hover-state-layer-opacity}) !default;

$hovered-icon-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)}) !default;


$focused-container-elevation: var(--lpxt-sys-elevation-level-0, #{__.$elevation-level-0}) !default;

$focused-label-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)}) !default;

$focused-state-layer-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)}) !default;
$focused-state-layer: var(--lpxt-sys-state-focus-state-layer-opacity, #{__.$state-focus-state-layer-opacity}) !default;

$focused-icon-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)}) !default;


$pressed-container-elevation: var(--lpxt-sys-elevation-level-0, #{__.$elevation-level-0}) !default;

$pressed-label-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)}) !default;

$pressed-state-layer-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)}) !default;
$pressed-state-layer: var(--lpxt-sys-state-pressed-state-layer-opacity, #{__.$state-pressed-state-layer-opacity}) !default;

$pressed-icon-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)}) !default;


$dragged-container-elevation: var(--lpxt-sys-elevation-level-3, #{__.$elevation-level-3}) !default;

$dragged-label-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)}) !default;

$dragged-state-layer-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)}) !default;
$dragged-state-layer: var(--lpxt-sys-state-dragged-state-layer-opacity, #{__.$state-dragged-state-layer-opacity}) !default;

$dragged-icon-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)}) !default;




@mixin button(
  $container-color: $container-color,
  $label-color: $label-color,
  $icon-color: $icon-color,
  $outline-color: $outline-color,
  $outline-width: $outline-width
) {
  @include reset.reset-button;

  position: relative;
  padding-inline: 24px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  border-radius: $container-shape;
  height: $container-height;
  z-index: $container-elevation;
  box-shadow: $container-shadow-color;
  @if $container-color {
    background-color: hsl($container-color);
  } @else {
    background-color: transparent;
  }

  font-family: $label-font;
  line-height: $label-line-height;
  font-size: $label-size;
  font-weight: $label-weight;
  letter-spacing: $label-letter-spacing;
  color: hsl($label-color);

  border-style: solid;
  border-color: $outline-color;
  border-width: $outline-width;

  .button-icon {
    width: $icon-size;
    aspect-ratio: 1;
    color: hsl($icon-color);
  }

  &:has(> .button-icon) {
    padding-inline-start: 16px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@mixin disabled-button(
  $disabled-container-color: $disabled-container-color,
  $disabled-label-color: $disabled-label-color,
  $disabled-icon-color: $disabled-icon-color
) {
  background-color: hsl($disabled-container-color / $disabled-container-opacity);
  z-index: $disabled-container-elevation;
  border-color: $disabled-outline-color;

  color: hsl($disabled-label-color / $disabled-label-opacity);

  .button-icon {
    color: hsl($disabled-icon-color / $disabled-icon-opacity);
  }
}

@mixin hovered-button(
  $hovered-label-color: $hovered-label-color,
  $hovered-state-layer-color: $hovered-state-layer-color,
  $hovered-icon-color: $hovered-icon-color
) {
  z-index: $hovered-container-elevation;

  color: hsl($hovered-label-color);

  .button-icon {
    color: hsl($hovered-icon-color);
  }

  &::before {
    background-color: hsl($hovered-state-layer-color);
    opacity: $hovered-state-layer;
  }
}

@mixin focused-button(
  $focused-label-color: $focused-label-color,
  $focused-state-layer-color: $focused-state-layer-color,
  $focused-icon-color: $focused-icon-color
) {
  z-index: $focused-container-elevation;

  color: hsl($focused-label-color);

  .button-icon {
    color: hsl($focused-icon-color);
  }

  &::before {
    background-color: hsl($focused-state-layer-color);
    opacity: $focused-state-layer;
  }
}

@mixin pressed-button(
  $pressed-label-color: $pressed-label-color,
  $pressed-state-layer-color: $pressed-state-layer-color,
  $pressed-icon-color: $pressed-icon-color
) {
  z-index: $pressed-container-elevation;

  color: hsl($pressed-label-color);

  .button-icon {
    color: hsl($pressed-icon-color);
  }

  &::before {
    background-color: hsl($pressed-state-layer-color);
    opacity: $pressed-state-layer;
  }
}

@mixin dragged-button(
  $dragged-label-color: $dragged-label-color,
  $dragged-state-layer-color: $dragged-state-layer-color,
  $dragged-icon-color: $dragged-icon-color
) {
  z-index: $dragged-container-elevation;

  color: hsl($dragged-label-color);

  .button-icon {
    color: hsl($dragged-icon-color);
  }

  &::before {
    background-color: hsl($dragged-state-layer-color);
    opacity: $dragged-state-layer;
  }
}