@use "sass:map";

@use "../../../tokens" as __;
@use "abstract-common" as common;

$container-color: var(--lpxt-sys-color-surface-container-low, #{map.get(__.$clr-neutral, 96)});
$label-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$icon-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});

$hovered-container-elevation: var(--lpxt-sys-elevation-level-2, #{__.$elevation-level-2});
$hovered-label-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$hovered-state-layer-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$hovered-icon-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});

$focused-container-elevation: var(--lpxt-sys-elevation-level-1, #{__.$elevation-level-1});
$focused-label-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$focused-state-layer-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$focused-icon-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});

$pressed-container-elevation: var(--lpxt-sys-elevation-level-1, #{__.$elevation-level-1});
$pressed-label-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$pressed-state-layer-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$pressed-icon-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});


.elevated-button {
  @include common.button($container-color, $label-color, $icon-color);
}

.elevated-button[disabled] {
  @include common.disabled-button;
}

.elevated-button:not([disabled]):hover {
  @include common.hovered-button($hovered-label-color, $hovered-state-layer-color, $hovered-icon-color);
}

.elevated-button:not([disabled]):focus {
  @include common.focused-button($focused-label-color, $focused-state-layer-color, $focused-icon-color);
}

.elevated-button:not([disabled]):active {
  @include common.pressed-button($pressed-label-color, $pressed-state-layer-color, $pressed-icon-color);
}
