@use "sass:map";

@use "../../../tokens" as __;
@use "abstract-common" as common;

$container-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$label-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)});
$icon-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)});

$hovered-label-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)});
$hovered-state-layer-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)});
$hovered-icon-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)});

$focused-label-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)});
$focused-state-layer-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)});
$focused-icon-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)});

$pressed-label-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)});
$pressed-state-layer-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)});
$pressed-icon-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)});

$dragged-label-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)});
$dragged-state-layer-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)});
$dragged-icon-color: var(--lpxt-sys-color-on-primary, #{map.get(__.$clr-primary, 100)});

.filled-button{
  @include common.button($container-color, $label-color, $icon-color);
}

.filled-button[disabled] {
  @include common.disabled-button;
}

.filled-button:not([disabled]):hover {
  @include common.hovered-button($hovered-label-color, $hovered-state-layer-color, $hovered-icon-color);
}

.filled-button:not([disabled]):focus {
  @include common.focused-button($focused-label-color, $focused-state-layer-color, $focused-icon-color);
}

.filled-button:not([disabled]):active {
  @include common.pressed-button($pressed-label-color, $pressed-state-layer-color, $pressed-icon-color);
}

.filled-button:not([disabled]):is([lpxt-dragged]) {
  @include common.dragged-button($dragged-label-color, $dragged-state-layer-color, $dragged-icon-color);
}
