@use "sass:map";

@use "../../../tokens" as __;
@use "abstract-common" as common;

$container-color: var(--lpxt-sys-color-secondary-container, #{map.get(__.$clr-secondary, 90)});
$label-color: var(--lpxt-sys-color-on-secondary-container, #{map.get(__.$clr-primary, 10)});
$icon-color: var(--lpxt-sys-color-on-secondary-container, #{map.get(__.$clr-primary, 10)});

$hovered-label-color: var(--lpxt-sys-color-on-secondary-container, #{map.get(__.$clr-primary, 10)});
$hovered-state-layer-color: var(--lpxt-sys-color-on-secondary-container, #{map.get(__.$clr-primary, 10)});
$hovered-icon-color: var(--lpxt-sys-color-on-secondary-container, #{map.get(__.$clr-primary, 10)});

$focused-label-color: var(--lpxt-sys-color-on-secondary-container, #{map.get(__.$clr-primary, 10)});
$focused-state-layer-color: var(--lpxt-sys-color-on-secondary-container, #{map.get(__.$clr-primary, 10)});
$focused-icon-color: var(--lpxt-sys-color-on-secondary-container, #{map.get(__.$clr-primary, 10)});

$pressed-label-color: var(--lpxt-sys-color-on-secondary-container, #{map.get(__.$clr-primary, 10)});
$pressed-state-layer-color: var(--lpxt-sys-color-on-secondary-container, #{map.get(__.$clr-primary, 10)});
$pressed-icon-color: var(--lpxt-sys-color-on-secondary-container, #{map.get(__.$clr-primary, 10)});

.filled-tonal-button{
  @include common.button($container-color, $label-color, $icon-color);
}

.filled-tonal-button[disabled] {
  @include common.disabled-button;
}

.filled-tonal-button:not([disabled]):hover {
  @include common.hovered-button($hovered-label-color, $hovered-state-layer-color, $hovered-icon-color);
}

.filled-tonal-button:not([disabled]):focus {
  @include common.focused-button($focused-label-color, $focused-state-layer-color, $focused-icon-color);
}

.filled-tonal-button:not([disabled]):active {
  @include common.pressed-button($pressed-label-color, $pressed-state-layer-color, $pressed-icon-color);
}
