@use "sass:map";

@use "../../../tokens" as __;
@use "abstract-common" as common;

$container-color: null;
$label-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$icon-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$outline-color: var(--lpxt-sys-color-outline, #{map.get(__.$clr-neutral-variant, 50)});
$outline-width: 1px;

$hovered-label-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$hovered-state-layer-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$hovered-icon-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});

$focused-label-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$focused-state-layer-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$focused-icon-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});

$pressed-label-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$pressed-state-layer-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});
$pressed-icon-color: var(--lpxt-sys-color-primary, #{map.get(__.$clr-primary, 40)});

.outlined-button{
  @include common.button($container-color, $label-color, $icon-color, $outline-color, $outline-width);
}

.outlined-button[disabled] {
  @include common.disabled-button;
}

.outlined-button:not([disabled]):hover {
  @include common.hovered-button($hovered-label-color, $hovered-state-layer-color, $hovered-icon-color);
}

.outlined-button:not([disabled]):focus {
  @include common.focused-button($focused-label-color, $focused-state-layer-color, $focused-icon-color);
}

.outlined-button:not([disabled]):active {
  @include common.pressed-button($pressed-label-color, $pressed-state-layer-color, $pressed-icon-color);
}
