$font-family-brand: "Roboto";

//$font-style: (
//  font-family: ;
//  font-style: ;
//  font-weight: ;
//  font-size: ;
//  letter-spacing: ;
//  line-height: ;
//  text-transform: ;
//  text-decoration: ;
//);

$display-large: (
        font-family: $font-family-brand,
        font-style: Regular,
        font-weight: 400,
        font-size: 3.5625rem,
        letter-spacing: -0.015625rem,
        line-height: 4rem,
        text-transform: none,
        text-decoration: none,
);

$display-medium: (
        font-family: $font-family-brand,
        font-style: Regular,
        font-weight: 400,
        font-size: 2.8125rem,
        letter-spacing: 0,
        line-height: 3.25rem,
        text-transform: none,
        text-decoration: none,
);

$display-small: (
        font-family: $font-family-brand,
        font-style: Regular,
        font-weight: 400,
        font-size: 2.25rem,
        letter-spacing: 0,
        line-height: 2.75rem,
        text-transform: none,
        text-decoration: none,
);

$headline-large: (
        font-family: $font-family-brand,
        font-style: Regular,
        font-weight: 400,
        font-size: 2rem,
        letter-spacing: 0,
        line-height: 2.5rem,
        text-transform: none,
        text-decoration: none,
);


$headline-medium: (
        font-family: $font-family-brand,
        font-style: Reguler,
        font-weight: 400,
        font-size: 1.75rem,
        letter-spacing: 0,
        line-height: 2.25rem,
        text-transform: none,
        text-decoration: none,
);

$headline-small: (
        font-family: $font-family-brand,
        font-style: Regular,
        font-weight: 400,
        font-size: 1.5rem,
        letter-spacing: 0,
        line-height: 2rem,
        text-transform: none,
        text-decoration: none,
);

$title-large: (
        font-family: $font-family-brand,
        font-style: Regular,
        font-weight: 400,
        font-size: 1.375rem,
        letter-spacing: 0,
        line-height: 1.75rem,
        text-transform: none,
        text-decoration: none,
);

$title-medium: (
        font-family: $font-family-brand,
        font-style: Medium,
        font-weight: 500,
        font-size: 1rem,
        letter-spacing: 0.009375rem,
        line-height: 1.5rem,
        text-transform: none,
        text-decoration: none,
);

$title-small: (
        font-family: $font-family-brand,
        font-style: Medium,
        font-weight: 500,
        font-size: 0.875rem,
        letter-spacing: 0.00625rem,
        line-height: 1.25rem,
        text-transform: none,
        text-decoration: none,
);

$body-large: (
        font-family: $font-family-brand,
        font-style: Regular,
        font-weight: 400,
        font-size: 1rem,
        letter-spacing: 0.03125rem,
        line-height: 1.5rem,
        text-transform: none,
        text-decoration: none,
);

$body-medium: (
        font-family: $font-family-brand,
        font-style: Regular,
        font-weight: 400,
        font-size: 0.875rem,
        letter-spacing: 0.015625rem,
        line-height: 1.25rem,
        text-transform: none,
        text-decoration: none,
);

$body-small: (
        font-family: $font-family-brand,
        font-style: Regular,
        font-weight: 400,
        font-size: 0.75rem,
        letter-spacing: 0.025rem,
        line-height: 1rem,
        text-transform: none,
        text-decoration: none,
);

$label-large: (
        font-family: $font-family-brand,
        font-style: Medium,
        font-weight: 500,
        font-size: 0.875rem,
        letter-spacing: 0.00625rem,
        line-height: 1.25rem,
        text-transform: none,
        text-decoration: none,
);

$label-meduim: (
        font-family: $font-family-brand,
        font-style: Medium,
        font-weight: 500,
        font-size: 0.75rem,
        letter-spacing: 0.03125rem,
        line-height: 1rem,
        text-transform: none,
        text-decoration: none,
);

$label-small: (
        font-family: $font-family-brand,
        font-style: Medium,
        font-weight: 500,
        font-size: 0.6875rem,
        letter-spacing: 0.03125rem,
        line-height: 1rem,
        text-transform: none,
        text-decoration: none,
);
