@use 'sass:map';

@use '../tokens' as __;
@forward "dark-light-fixed";

$primary: map.get(__.$clr-primary, 80);
$on-primary: map.get(__.$clr-primary, 20);
$primary-container: map.get(__.$clr-primary, 30);
$on-primary-container: map.get(__.$clr-primary, 90);

$secondary: map.get(__.$clr-secondary, 80);
$on-secondary: map.get(__.$clr-secondary, 20);
$secondary-container: map.get(__.$clr-secondary, 30);
$on-secondary-container: map.get(__.$clr-secondary, 90);

$tertiary: map.get(__.$clr-tertiary, 80);
$on-tertiary: map.get(__.$clr-tertiary, 200);
$tertiary-container: map.get(__.$clr-tertiary, 30);
$on-tertiary-container: map.get(__.$clr-tertiary, 90);

$error: map.get(__.$clr-error, 80);
$on-error: map.get(__.$clr-error, 20);
$error-container: map.get(__.$clr-error, 30);
$on-error-container: map.get(__.$clr-error, 90);

$surface-dim: map.get(__.$clr-neutral, 6);
$surface: map.get(__.$clr-neutral, 6);
$surface-bright: map.get(__.$clr-neutral, 24);

$surface-container-lowest: map.get(__.$clr-neutral, 4);
$surface-container-low: map.get(__.$clr-neutral, 10);
$surface-container: map.get(__.$clr-neutral, 12);
$surface-container-high: map.get(__.$clr-neutral, 17);
$surface-container-highest: map.get(__.$clr-neutral, 22);

$on-surface:  map.get(__.$clr-neutral, 90);
$on-surface-variant:  map.get(__.$clr-neutral-variant, 80);

$outline: map.get(__.$clr-neutral-variant, 60);
$outline: map.get(__.$clr-neutral-variant, 20);

$inverse-surface: map.get(__.$clr-neutral, 90);
$inverse-on-surface: map.get(__.$clr-neutral, 20);
$inverse-primary: map.get(__.$clr-primary, 40);

$scrim: map.get(__.$clr-neutral, 0);
$shadow: map.get(__.$clr-neutral, 0);
