@use 'sass:map';

@use '../tokens' as __;

$primary-fixed: map.get(__.$clr-primary, 90);
$primary-fixed-dim: map.get(__.$clr-primary, 80);
$on-primary-fixed: map.get(__.$clr-primary, 10);
$on-primary-fixed-variant: map.get(__.$clr-primary, 30);

$secondary-fixed: map.get(__.$clr-secondary, 90);
$secondary-fixed-dim: map.get(__.$clr-secondary, 80);
$on-secondary-fixed: map.get(__.$clr-secondary, 10);
$on-secondary-fixed-variant: map.get(__.$clr-secondary, 30);

$tertiary-fixed: map.get(__.$clr-tertiary, 90);
$tertiary-fixed-dim: map.get(__.$clr-tertiary, 80);
$on-tertiary-fixed: map.get(__.$clr-tertiary, 10);
$on-tertiary-fixed-variant: map.get(__.$clr-tertiary, 30);
