@use 'sass:map';

@use '../tokens' as __;
@forward "dark-light-fixed";

$primary: map.get(__.$clr-primary, 40);
$on-primary: map.get(__.$clr-primary, 100);
$primary-container: map.get(__.$clr-primary, 90);
$on-primary-container: map.get(__.$clr-primary, 10);

$secondary: map.get(__.$clr-secondary, 40);
$on-secondary: map.get(__.$clr-secondary, 100);
$secondary-container: map.get(__.$clr-secondary, 90);
$on-secondary-container: map.get(__.$clr-secondary, 10);

$tertiary: map.get(__.$clr-tertiary, 40);
$on-tertiary: map.get(__.$clr-tertiary, 100);
$tertiary-container: map.get(__.$clr-tertiary, 90);
$on-tertiary-container: map.get(__.$clr-tertiary, 10);

$error: map.get(__.$clr-error, 40);
$on-error: map.get(__.$clr-error, 100);
$error-container: map.get(__.$clr-error, 90);
$on-error-container: map.get(__.$clr-error, 10);

$surface-dim: map.get(__.$clr-neutral, 87);
$surface: map.get(__.$clr-neutral, 87);
$surface-bright: map.get(__.$clr-neutral, 98);

$surface-container-lowest: map.get(__.$clr-neutral, 100);
$surface-container-low: map.get(__.$clr-neutral, 96);
$surface-container: map.get(__.$clr-neutral, 94);
$surface-container-high: map.get(__.$clr-neutral, 92);
$surface-container-highest: map.get(__.$clr-neutral, 90);

$on-surface:  map.get(__.$clr-neutral, 10);
$on-surface-variant:  map.get(__.$clr-neutral-variant, 30);

$outline: map.get(__.$clr-neutral-variant, 50);
$outline: map.get(__.$clr-neutral-variant, 80);

$inverse-surface: map.get(__.$clr-neutral, 20);
$inverse-on-surface: map.get(__.$clr-neutral, 95);
$inverse-primary: map.get(__.$clr-primary, 80);

$scrim: map.get(__.$clr-neutral, 0);
$shadow: map.get(__.$clr-neutral, 0);
